# wordpress
WP_MYSQL_ROOT_PASSWORD=change-me
WP_MYSQL_DATABASE=wpdb
WP_MYSQL_USER=wpuser
WP_MYSQL_PASSWORD=change-me

# n8n
N8N_HOST=n8n.example.com
N8N_WEBHOOK_URL=https://n8n.example.com
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=change-me
